[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyjwt = "*"
drf-yasg = "*"
gunicorn = "*"
django-heroku = "*"
asgiref ="*"
autopep8 = "*"
certifi = "*"
cffi = "*"
chardet = "*"
coreapi = "*"
coreschema = "*"
cryptography = "*"
defusedxml = "*"
Django = "*"
django-braces = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
djangorestframework = "*"
djangorestframework-simplejwt  = "*"
drf-social-oauth2 = "*"
idna = "*"
itypes = "*"
Jinja2 = "*"
MarkupSafe = "*"
oauthlib = "*"
pycodestyle = "*"
pycparser = "*"
PyJWT = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
six = "*"
social-auth-app-django ="*"
social-auth-core = "*"
sqlparse = "*"
toml = "*"
uritemplate = "*"
urllib3 = "*"


[requires]
python_version = "3.8"